body{
    font-family: 'Poppins', sans-serif;
    margin: 20px;
}
h1{
    font-size: 50px;
    color: gray;
    
}
h2{
    font-size: 30px;
    color: gray;
}
h3{
    font-weight: 900;
}
.color{
    color: orange;
}
.half-width{
    width: 40%;
    padding-left: 5%;
    padding-right: 10%;
    padding-top: 5%;

}
.half-width img{
    width: 100%;
    padding-left: 10%;
}
.flexible-container{
    display: flex;
    margin: 0px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(red, orange);
    padding: 10px 30px;
    color:black;
    font-weight: 700;
    border-radius: 10px;
}
.top-banner{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    margin: 0px;
}
.text-style{
    text-align: center;
    padding-top: 5%;
}
.text-width{
    width: 40%;
    padding-left: 30%;  
    

}
.experience-item{
    width: 30%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 20px;
    padding-left: 10px;
    margin-left: 5%;
   
    
}


.image-width img{
    width: 400px;
    padding-top: 10px;
    
    border-radius: 20px 20px;
 
   
    
}
.image-width{
   
}
